#Use it with direnv package to set environment variables
export DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/todo_list
export USE_DOCKER=NO
# Optional: set broker URL if using Celery
# export CELERY_BROKER_URL=redis://localhost:6379/0
